#join{
    text-align: center;

}
form fieldset {
    margin: 5rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;

}
form legend {
    color: #445ba9;
    margin: 0 .5rem;

}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}
form label.top input{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: black;
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}
#formmessage {
    display: none;
}
form input.submitBtn{
    border: none;
    background-color: #1c1f33;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required{
    border-left: red solid 6px;

}
form label.top input:required{
    border-left: green solid 6px;
}
form label.bottom{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: red;
}
#r {
	width: 180px;
	margin-bottom: 0;
}

#rangevalue {
	font-size: 2rem;
	color: navy;
}

#rangevalues {
	display: flex;
	margin: 0 0 0 25px;
	width: 200px;
}

#rangevalues option {
	flex: 1 1 auto;
}
