* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif; 
}

header{
    background-color:#5D576B;
    color: #FDE2FF;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);


}

header, main {
    max-width: 800px;
    margin: 0 auto;

}    
h1 {
    font-size: 0.5rem;


}


nav {
    background-color:#FDE2FF;
    margin: 0 auto;
    max-width: 800px;
}
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: 1rem;
	background-color: #FDE2FF;;
	color: #000;
}

#menu::before {
	content: "≡";
}

.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: black;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
	border: 1px solid black;
}

.active {
	color: yellow;
}

footer {
    max-width: 640px;
    text-align: center;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #FDE2FF;

}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: aliceblue;
}
img{
    width: 100%;
    background-color: #000;
}
div.logo {
    margin: 0;
    padding: 10px;

}
img {
    margin: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    background-color: aliceblue;
}
.grid-item {
    border: 1px solid #bbb;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 50px;
    font-size: 10px;
}
div.grid-item1 {
    width: 100%;
    height: auto;
}
.grid {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr;
  gap: 10px;
  background-color: aliceblue;
  padding: 10px;
}

.card-item {
    background-color: white;
    border: 1px solid #bbb;
    text-align: center;
    padding: 80px;
    font-size: 10px;
}
#join{
    text-align: center;

}
form fieldset {
    margin: 5rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;

}
form legend {
    color: #445ba9;
    margin: 0 .5rem;

}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}
form label.top input{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: black;
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}
#formmessage {
    display: none;
}
form input.submitBtn{
    border: none;
    background-color: #1c1f33;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required{
    border-left: red solid 6px;

}
form label.top input:required{
    border-left: green solid 6px;
}
form label.bottom{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: red;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  
  .directory-menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #bed;
	text-align: center;
}

.direct-menu button {
	padding: 1rem;
	font-weight: 700;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
}

.direct-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.direct-grid section {
	text-align: center;
}

.mani-grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.mani-grid section > * {
	margin: 0.1rem;
}

.mani-grid h3 {
	font-size: 1rem;
}

.direct-list {
	display: flex;
	flex-direction: column;
}

.direct-list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.direct-list section > * {
	margin: 0 1rem;
}

.direct-list section img {
	display: none; /* smaller viewports only */
}

.direct-list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.direct-list section:nth-child(even) {
	background-color: #bed;
}

section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

img {
	height: 75px;
	max-width: 100%; /* Images are jerks - Seattle*/
}

  




  

