@media screen and (min-width: 38rem){
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  
    main {
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 700px;
    background-color: #fff;
    font-family: Roboto, Helvetica, sans-serif;
     }
    .grid-container {
        display: grid;
        gap: 10px;
        background-color: aliceblue;
        padding: 50px;
      }
      
      .grid-item {
        background-color: white;
        border: 1px solid #bbb;
        text-align: center;
        padding: 10px;
        font-size: 20px;
      }
      .grid {
        display: grid;
        gap: 10px;
        background-color: aliceblue;
        padding: 0;
      }
      
      .card-item {
        background-color: white;
        border: 1px solid #bbb;
        text-align: center;
        padding: 80px;
        font-size: 10px;
      }
      
      .item1 {
        grid-column: 1 / span 3;
        grid-row: 1;
      }
      
      .item2 {
        grid-column: 1/ span 2;
        grid-row: 2;
        padding: 50px;
      }
      
      .item3 {
        grid-column: 3;
        grid-row: 2;
      }
      .item4 {
        grid-column: 1;
        grid-row: 3;
      }
      
      .item5 {
        grid-column: 2;
        grid-row: 3;
      }
      .item6 {
        grid-column: 3;
        grid-row: 3;
      }
      main h1 {
        grid-column: 1/ span 2;
    }
    nav ul{
        display: flex;
    }
    nav ul li {
        flex:1 1 100%
  }
  .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
  .carditem1 {
    grid-column: 1;
    grid-row: 1;
  }
  
  .carditem2 {
    grid-column: 1;
    grid-row: 2 ;
  }
  .carditem3 {
    grid-column: 1;
    grid-row: 3;
  }
  .carditem4{
    grid-column: 1 ;
    grid-row: 4;
  }
  
  .carditem5 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 4;
  }
  img { 
    width: 100%;
    background-color: #000;
  }
 


}
    
