* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 700px;
	background-color: #fff;
	font-family: Roboto, Helvetica, sans-serif;
}

.directory-menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #bed;
	text-align: center;
}

.direct-menu button {
	padding: 1rem;
	font-weight: 700;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
}

.direct-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.direct-grid section {
	text-align: center;
}

.mani-grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.mani-grid section > * {
	margin: 0.1rem;
}

.mani-grid h3 {
	font-family: "Caveat", cursive;
}

.direct-list {
	display: flex;
	flex-direction: column;
}

.direct-list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.direct-list section > * {
	margin: 0 1rem;
}

.direct-list section img {
	display: none; /* smaller viewports only */
}

.direct-list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.direct-list section:nth-child(even) {
	background-color: #bed;
}

section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

img {
	height: 75px;
	max-width: 100%; /* Images are jerks - Seattle*/
}